<% @galleries.each_with_index do |gallery, i| %>

<div class="col-sm-3">
<% if gallery.type == "galleryFolder" %>
  <a href="<%= "/galleries/content/#{gallery.id}" %>"><%= image_tag(gallery.asset.url(:thumb)) %></a>
  <% else %>
  <%= image_tag(gallery.asset.url(:thumb)) %>
  <% end %>
  <span><%= gallery.name %></span>
</div>
<% end %>

<br/>

<div class="row">
<%= link_to t('.back', :default => t("helpers.links.back")),
                galleries_path, :class => 'btn btn-default'  %>
</div>
